/////////////////////////////
//         searcher        //
/////////////////////////////

.luna-searcher {
    z-index:  100000000;
    position: absolute;
    top:     ~"calc(-34rem - 16.5px)";
}

.luna-searcher--node ~ .luna-node--selected {
    .luna-node__name--expression {
        display: none;
    }
}

.luna-searcher--command {
    top: ~"calc(-34rem - 7.4px)";
    .luna-searcher__input {
        background: transparent; // #004D40;
        padding:    8px;
    }
    .luna-searcher__results {
        bottom: 32px;
    }
}

.luna-searcher__preview {
    display: none;
}
.luna-searcher__body {
    bottom: 0;
    position: absolute;
}

.luna-searcher__input {
    background:    transparent;
    border-radius: @borderRadius;
    color:         #fff;
    font-family:   @fontDefault;
    font-size:     12px;
    font-weight:   300;
    height:        12px;
    line-height:   12px;
    overflow:      inherit;
    text-align:    center;
    transform:     translate(-50%);
    width:         1000px;
    &:focus {
        outline: 0;
    }
}

.luna-searcher__results {
    bottom:         16px;
    display:        flex;
    flex-direction: column-reverse;
    position:       absolute;
    width:          100%;
    left:          -50%;
    text-align:     center;
}

.luna-searcher__results__item {
    background:      #222;
    line-height:     16px;
    display:         flex;
    justify-content: center;
    &:first-child {
        border-bottom-right-radius: @borderRadius;
        border-bottom-left-radius:  @borderRadius;
        padding-bottom:             8px;
    }
    &:last-child {
        border-top-right-radius: @borderRadius;
        border-top-left-radius:  @borderRadius;
        padding-top:             8px;
    }
}
