/////////////////////////////
//         searcher        //
/////////////////////////////

.luna-node__name,
.luna-node__expression {
    min-height: 16px;
}

.luna-searcher {
    z-index:  100000000;
    position: absolute;
}

.luna-searcher__body {
    width: 0;
}

.luna-searcher--node ~ .luna-node--selected {
    .luna-node__expression {
        display: none;
    }
}

.luna-searcher--command {
    .luna-searcher__input {
        background: #004D40;
        padding:    8px 0;
    }
    .luna-searcher__results {
        bottom: 32px;
    }
}

.luna-searcher__preview {
    display: none;
}

.luna-searcher__input,
.luna-node__name--input {
    background:    transparent;
    border-radius: @borderRadius;
    color:         #fff;
    font-family:   @fontDefault;
    font-size:     12px;
    font-weight:   300;
    height:        15px;
    line-height:   15px;
    overflow:      inherit;
    text-align:    center;
    &:focus {
        outline: 0;
    }
}
.luna-searcher__input {
    transform:   translate(-50%);
    height:      13px;
    line-height: 13px;
}


.luna-searcher__results {
    bottom:         16px;
    display:        flex;
    flex-direction: column-reverse;
    position:       absolute;
    left:          -250px;
    width:          500px;
    text-align:     center;
    border-radius:  4px;
    overflow:       hidden;
    padding:        0;
    background:     #222;
    max-height:     240px;
}

.luna-searcher__results__item {
    line-height: 24px;
}
.luna-searcher__results__item--selected {
    background: rgba(255,255,255,.1);
}


.luna-searcher__pre,
.luna-searcher__pre + span {
    height:     24px;
    display:    block;
    text-align: left;
    width:      50%;
    float:      left;
}
.luna-searcher__pre {
    opacity: .5;
    text-align: right;
}
.luna-searcher__pre + span::before {
    content: ".";
    opacity: 0;
}
.luna-searcher__hl {
    color: #eff;
}
