@import '_variables';

/////////////////////////////
//        animation        //
/////////////////////////////

.luna-blur,
.luna-node__main,
.luna-node__properties,
.luna-node__properties-crop {
    transition: all @transitionSpeed ease-out;
}

.luna-selection {
    transition: left          @selectionSpeed  ease-out,
                top           @selectionSpeed  ease-out,
                width         @selectionSpeed  ease-out,
                height        @selectionSpeed  ease-out,
                opacity       @selectionSpeed  ease-out,
                box-shadow    0ms              linear,
                border-radius @transitionSpeed ease-out;
}

.luna-graph svg * {
    transition: stroke  @colorSpeed ease-out,
                opacity @colorSpeed ease-out,
                fill    @colorSpeed ease-out;
}

.luna-edgeport__name {
    transition: opacity 200ms ease-out;
}
.luna-edgeports {
    transition: left  100ms ease-out,
                right 100ms ease-out;
}
