// resets

* {
    border:  none;
    margin:  0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

svg * {
    pointer-events: all; // Tweak for using events on SVG elements
}

// basic styles

body {
    font: 12px/15px @fontDefault;
    background: @colorBackground;
}
