.graph {
    position: relative;
    flex: none;
}
.plane {
    position: absolute;
    width: 100%;
    height: 100%;
    .connections {

    }
}
.plane--nodes {
    svg {
        overflow: inherit;
        width:  16px;
        height: 16px;
    }
}

// connection

.connection {
    position: relative;
    width:    0;
    height:   0;
    line {
        stroke-linecap:  round;
        stroke-linejoin: round;
    }
}


// node

.node {
    position: relative;
    width:    0;
    height:   0;
    .name {
        fill:        @colorName;
        text-anchor: middle;
        font-weight: 300;
        &::selection {
            background: none;
        }
    }
    .port--self {
        r: 5;
    }
}

.port {
    stroke-width: 0px;
    &:hover {
        stroke-width:    2px;
        stroke-linecap:  round;
        stroke-linejoin: round;

    }
}

// selection mark

.selection-mark {
    fill:       none;
    stroke:     transparent;
    transition: all 100ms ease-in-out;
    stroke:     @colorSelect;
    opacity:    0;
}

.node--selected {
    .selection-mark {
        opacity: 1;
    }
}

.node--collapsed {
    .selection-mark {
        r: 20;
    }
    &.node--selected {
        .selection-mark {
            r: 30;
        }
    }
}
