.graph {
    position: relative;
    flex:     none;
    overflow: inherit;
    color:    @colorName;
}

.plane {
    position: absolute;
    width:    10px;
    height:   10px;
    overflow: inherit;
}

.plane--nodes {
    svg {
        position: absolute;
        top:      0;
        left:     0;
        overflow: inherit;
        width:    10px;
        height:   10px;
    }
}


// connection

.connections {
    stroke-linecap:  round;
    stroke-linejoin: round;
}


// node

.node {
    position: absolute;
    width:    10px;
    height:   10px;
    .port--self {
        r: 5;
    }

}

.node__name {
    fill:        @colorName;
    text-anchor: middle;
    font-weight: 300;
    filter:      "url(#textShadow)";
    &::selection {
        background: none;
    }
}

.port {
    stroke-width: 0px;
    &:hover {
        stroke-width:    2px;
        stroke-linecap:  round;
        stroke-linejoin: round;

    }
}


// selection mark

.node__selection-mark {
    fill:       none;
    stroke:     transparent;
    transition: all 90ms ease-in-out;
    stroke:     @colorSelect;
    opacity:    0;
    x:         -20px;
    y:         -20px;
    width:      40px;
    height:     40px;
    rx:         20px;
    ry:         20px;
}

.node--selected {
    .node__selection-mark {
        opacity: 1;
    }
}

.node--selected {
    .node__selection-mark {
        x:     -29.7px; // subpixel antialiasing tweak
        y:     -29.7px;
        width:  59.4px;
        height: 59.4px;
        rx:     30px;
        ry:     30px;
    }
}

.node--expanded {
    .node__selection-mark {
        x:      0px;
        y:     -20px;
        width:  224px;
        height: 82px;
        rx:     4px;
        ry:     4px;
    }
    &.node--selected {
        .node__selection-mark {
            x:     -9.7px;
            y:     -29.7px;
            width:  243.4px;
            height: 103.4px;
            rx:     12px;
            ry:     12px;
        }
    }
    .node__visualization {
        left: 0;
        top: -8px;
    }
    .port--o {
        animation-iteration-count: 0;
        animation-timing-function: ease-in-out;
        animation-duration:        90ms;
        animation-name:            outputExpanding;
        cx:                        225px;
    }
}

@keyframes outputExpanding {
    from { cx:   0px }
    to   { cx: 225px }
}

// node expanded

.node__properties {
    color:         @colorTextUneditable;
    background:    @colorNodeBackground;
    box-shadow:    0 0 10px rgba(25,25,25,1);
    line-height:   16px;
    width:         1px;
    height:        32px;
    opacity:       0;
    transition:    all 90ms ease-in-out;
    top:          -20px;
    padding:       12px 12px 8px;
    position:      relative;
    border-radius: 4px;
    overflow:      hidden;
    .row {
        display:         flex;
        width:           200px;
        justify-content: space-between;
    }
    .row--output-name {
        justify-content: flex-end;
    }
}

.node__properties,
.node__visualization {
    font-size: 10px;
}

.node--expanded {
    .node__properties {
        height:  auto;
        width:   200px;
        opacity: 1;
    }
}

.node__visualization {
    position: relative;
    left:    -30px;
    top:     -16px;
    width: 224px;
    table {
        border:          0;
        width:           100%;
        text-align:      left;
        border-collapse: collapse;
    }
    td, th {
        line-height: 20px;
        padding:     0 12px;
    }
    th {
        border-bottom: 2px solid rgba(255,255,255,.02);
    }
    tr {
        &:nth-child(even) {
            background: rgba(255,255,255,.0)
        }
    }
}

.vis {
    position: relative;
    width:    224px;
    height:   200px;
    overflow: hidden;
    .scroll {
        overflow: scroll;
        height: 100%;
    }
}
.vis--graph {
    position: relative;
    svg {
        position: relative;
        top:      15px;
        left:    -5px;
        fill:     #666;
        overflow: initial;
    }
}


.blur {
    backdrop-filter: blur(12px);
    width:           100%;
    height:          100%;
    position:        absolute;
    z-index:        -1;
}
