/////////////////////////////
//         searcher        //
/////////////////////////////

.luna-searcher {
    position: absolute;
    z-index: 100000000;
}
.luna-searcher__input {
    font-weight:   300;
    text-align:    center;
    font-family:   @fontDefault;
    font-size:     12px;
    line-height:   12px;
    height:        12px;
    background:    @colorBackground;
    color:         #fff;
    transform:     translate(-50%, calc(-50% - 55px));
    overflow:      inherit;
    &:focus {
        outline: 0;
    }
}
