/////////////////////////////
//         searcher        //
/////////////////////////////

.luna-node-searcher {
    flex:     none;
    position: absolute;
    input {
        line-height:   30px;
        background:    black;
        border-radius: 3px;
        color:         #fff;
        padding:       0 10px;

    }
}

.luna-command-searcher {
    flex:     none;
    position: absolute;
    input {
        line-height:   30px;
        background:    blue;
        border-radius: 3px;
        color:         #fff;
        padding:       0 10px;

    }
}
