@import '_variables';

/////////////////////////////
//     selection mark      //
/////////////////////////////

.luna-selection {
    width:        ~"calc(100% + 2px)";
    height:       ~"calc(100% + 2px)";
    border:        1px solid orange;
    left:         -1px;
    top:          -1px;
    position:      absolute;
    border-radius: 34px;
    opacity:       0;
}

.luna-node--selected {
    .luna-selection {
        width:        ~"calc(100% + 20px)";
        height:       ~"calc(100% + 20px)";
        border:        1px solid orange;
        left:         -11px;
        top:          -11px;
        opacity:       1;
    }
    &.luna-node--expanded {
        .luna-selection {
            border-radius: 10px;
        }
    }
}
