/////////////////////////////
//        sideports        //
/////////////////////////////

@edgeportsWidth: @gridSize;
@edgeNameMargin: @edgeportsWidth + 8px;

.luna-edgeports {
    display:         flex;
    justify-content: center;
    flex-direction:  column;
    height:          100%;
    position:        absolute;
    width:           0;
}

.luna-edgeports__body {
    background:     #2a2a2a;
    display:        flex;
    flex-direction: column;
    position:       absolute;
    width:          @edgeportsWidth;
    margin-top:    -50%;
    padding:        @gridSize/2 0;
    border-radius:  0 @borderRadius @borderRadius 0;
}

.luna-edgeports__btn--add {
    position: fixed;
    bottom:   10px;
    left:     0;
}

.luna-edgeports__btn--remove {
    position: fixed;
    bottom:   10px;
}

.luna-edgeport__name {
    color:       darken(@colorText, 30%);
    position:    absolute;
    white-space: nowrap;
    text-shadow: 0 0 2px black;
}

.luna-edgeport__svg {
    top:      50%;
    height:   1px;
    width:    1px;
    overflow: inherit;
    position: absolute;
}

.luna-edgeports--i {
    .luna-edgeport__name {
        left: @edgeNameMargin;
    }
    .luna-edgeport__svg {
        left: @edgeportsWidth;
    }
}

.luna-edgeports--o {
    right: 0;
    .luna-edgeports__body {
        border-radius: @borderRadius 0 0 @borderRadius;
        right:         0;
    }
    .luna-edgeport__name {
        left:  inherit;
        right: @edgeNameMargin;
    }
}

.luna-edgeport {
    height:   @gridSize;
    position: relative;
}

.luna-edgeports__edit {
    display: none;
    left:     0;
    bottom:  -10px;
    position: absolute;
    cursor: pointer;
}

.luna-port__plus {
    fill: none;
    transform: rotate(45deg);
}

.luna-edgeport__svg--inbetween {
    position: absolute;
    left: 15px;
    top: -8px;
    z-index: 10000;
}

.luna-port-add-inbetween__droplet {
    fill: green;
    opacity: 0;
}

.luna-port-add-inbetween:hover {
    .luna-port-add-inbetween__droplet {
        opacity: 1;
    }
}

.luna-port-add-inbetween__plus {
    transform: translate(15px,8px);
    fill: @colorBackground;
}

.luna-port-add-inbetween__selectable {
    opacity: 0;
}

.luna-edgeports--editmode {
    .luna-port__shape {
        r: 6px;
    }
    .luna-port__plus {
        fill: @colorBackground;
    }
}

.luna-edgeports:not(.luna-edgeports--editmode) {
    .luna-edgeport:hover {
        .luna-edgeport__name {
            color: @colorText;
        }
        .luna-port__shape {
            fill: #fff !important;
        }
    }
}
