/////////////////////////////
//        sideports        //
/////////////////////////////

@edgeportsWidth: 50px;
@edgeNameMargin: @edgeportsWidth + 8px;

.luna-edgeports {
    display:         flex;
    justify-content: center;
    flex-direction:  column;
    height:          100%;
    position:        absolute;
    width:           0;
    .luna-icon {
        fill:     #fff;
        opacity:  0;
        cursor:   pointer;
        position: absolute;
        &:hover {
            opacity: .2;
        }
    }
}

.luna-edgeports__body {
    background:     #2a2a2a;
    display:        flex;
    flex-direction: column;
    position:       absolute;
    width:          @edgeportsWidth;
    margin-top:    -50%;
    padding:        @gridSize/2 0;
    border-radius:  0 @borderRadius @borderRadius 0;
}

.luna-edgeports__btn--add {
    position: fixed;
    bottom:   10px;
    left: 0;
}

.luna-edgeports__btn--remove {
    position: fixed;
    bottom:   10px;
}

.luna-edgeports--i {
    .luna-edgeport__name {
        left: @edgeNameMargin;
    }
    .luna-edgeport__svg {
        left: @edgeportsWidth;
    }
}

.luna-edgeports--o {
    .luna-edgeports__body {
        border-radius: @borderRadius 0 0 @borderRadius;
        right:         0;
    }
    .luna-edgeport__name {
        left:  inherit;
        right: @edgeNameMargin;
    }
}

.luna-edgeports--i {
    left: -32px;
    &:hover {
        left: 0;
    }
}
.luna-edgeports--o {
    right: -32px;
}

.luna-edgeports:hover {
    .luna-edgeport__name {
        color:       darken(@colorText, 30%);
        text-shadow: 0 0 2px black;
        width:       auto;
        opacity:     1;
    }
}

.luna-edgeport {
    height:   @gridSize;
    position: relative;
    &:hover {
        .luna-edgeport__name {
            color: @colorText;
        }
        .luna-port__shape {
            fill: #fff !important;
        }
        .luna-icon--drag,
        .luna-icon--remove {
            opacity: .1;
            &:hover {
                opacity: .5;
            }
        }
    }
    .luna-icon--plus {
        top: -8px;
        opacity: 0;
        &:hover {
            opacity: .5;
            & ~.luna-icon {
                rect { opacity: 0 !important; }
            }
            & +.luna-icon {
                border-top: 1px solid #fff;
                top:-1px;
            }
            & ~.luna-edgeport__svg .luna-port__shape {
                fill: rgb(119, 119, 119) !important;
            }
            & ~.luna-edgeport__name {
                color: darken(@colorText, 30%) !important;
            }
        }
    }
}
.luna-edgeports {
    .luna-icon--plus--first {
        opacity: 1;
        bottom: 0;
        //background: #2a2a2a;
        border-radius: 100px;
        rect { fill: darken(#fff, 78%) }
        &:hover {
            opacity: 1;
            rect { fill: darken(#fff, 40%) }
        }
    }
}
.luna-edgeports--i {
    .luna-icon--drag   { right: 5px  }
    .luna-icon--remove { right: 19px }
    .luna-icon--plus   { right: 33px }
}

.luna-edgeports--o {
    .luna-icon--drag   { left: 5px  }
    .luna-icon--remove { left: 19px }
    .luna-icon--plus   { left: 33px }
}

.luna-edgeport__name {
    position:    absolute;
    width:       0;
    opacity:     0;
    overflow:    hidden;
    white-space: nowrap;
}

.luna-edgeport__svg {
    top:      50%;
    height:   1px;
    width:    1px;
    overflow: inherit;
    position: absolute;
}

.luna-edgeport--dragged {
    background: red;
    width:      0;
}

.luna-icon--remove g {
    transform-origin: 50% 50%;
    transform:        rotate(45deg);
}
