#editorContainer {
  position:   fixed;
  z-index:    1000;
  top:        0;
  right:      0;
  bottom:     0;
  width:      30%;
  button {
    position: absolute;
    z-index:  1001;
    right:    10px;
    top:      10px;
  }
}
#editor {
  height:     100%;
  width:      100%;
  position:   absolute;
  bottom:     0px;
}
