#editor {
  height:     100%;
  width:      100%;
  position:   absolute;
  bottom:     0px;
}
.ace_gutter {
    background: rgb(30, 30, 30);
}


.searcher-results {
  overflow:hidden;
  .result-selected {
    overflow: hidden;
    background: @colorSelect;
  }
  .result {
    overflow: hidden;
  }
  .result-prefix {
    width:         100px;
    display:       block;
    float:         left;
    text-align:    right;
  }
  .result-name {
    width:         100px;
    margin-left:   4px;
    float:         left;
  }
}

.message-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 255, 0.8);
  z-index: 9999;
  color: #fff;
  .msg {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    padding: 0 150px;
    width: 100%;
    box-sizing: border-box;
    p {
        position: relative;
        top:30px;
    }
  }
}

.message-container svg {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}
