/////////////////////////////
//          fonts          //
/////////////////////////////

@fontDefault:         'hasklig',  monospace;

/////////////////////////////
//         colors          //
/////////////////////////////

@colorBackground:     #1a1a1a;
@colorSelect:         orange;
@colorText:           white;
@colorTextUneditable: darken(@colorText, 50%);
@colorTextDisabled:   darken(@colorText, 80%);
@colorName:           @colorText;

@colorNodeBackground: #222;

/////////////////////////////
//           grid          //
/////////////////////////////

@gridSize:            16px;
@lineHeight:          @gridSize;
@borderRadius:        3px;

/////////////////////////////
//           grid          //
/////////////////////////////

@expandedNodeWidth:   10 * @gridSize;
@expandedNodePadding: 12px;

/////////////////////////////
//        animation        //
/////////////////////////////

@transitionSpeed:     60ms;
@selectionSpeed:     100ms;
@colorSpeed:         120ms;

/////////////////////////////
//          other          //
/////////////////////////////

@strokeWidth:        2.6px;
